.tradeBarGraphMain {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
  /* background-color: #ffffff; */
  border-radius: 8px;
  padding: 5px 0;
  margin-top: 20px;
  /* max-height: 386px; */
  min-height: 371px;
  /* margin-bottom: 20px; */
}
.tradeDiv {
  /* border: 1px solid black; */
  padding:10px 0;
  display: flex;
}
.totalTrade {
  font-family: Overpass;
  font-weight: 500;
  font-size: 15px;
  padding: 5px 15px;
}
