.dailyStatus {
  max-height: 312px;
}
.dailyStatusTop {
  padding: 15px 15px;
}
.pieChart {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 1px solid black; */
  /* max-width: 300px;
  max-height: 300px; */
  display: flex;
  justify-content: center;
}
.daily {
  font-family: Overpass;
  font-weight: 500;
  font-size: 15px;
}
.winLoss {
  font-family: Overpass;
  font-weight: 500;
  font-size: 12px;
  margin-top: 5px;
  margin-right:15px;
}
.winLossPercentage {
  display: flex;
  justify-content: space-around;
}
.win {
  text-align: center;
  font-weight: 300;
  font-family: Overpass;
  font-size: 13px;
  color: #22894e;
}
.winValue {
  text-align: center;
  font-weight: 500;
  font-family: Overpass;
  font-size: 13px;
  color: #22894e;
}
.lossPie {
  text-align: center;
  font-weight: 300;
  font-family: Overpass;
  font-size: 13px;
  color: #d94848;
}
.lossValue {
  text-align: center;
  font-weight: 500;
  font-family: Overpass;
  font-size: 13px;
  color: #d94848;
}
.endPoints{
  /* border: 1px solid black; */
  display: flex;
}
