.chart-page{
    background-color: red!important;
}

#widget-container{
    background-color: red!important;
    border: 1px solid red!important;
}
.tradingview-widget-container{
background-color: purple!important;
}